.StPrLiCoSideFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SideFilterP {
  /* text-decoration: underline; */
  padding-bottom: 5px;
  text-decoration-skip-ink: none;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #6c6c6c;
}

input[type="checkbox"] {
  margin-right: 20px;
}

label {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #6c6c6c;
}
